<!doctype html>
<html lang="en">
   <head>
      <title>ACP Controle Times</title>
      <meta charset="utf-8">
      <!-- 'viewport' is used by bootstrap to respond to device size -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap includes javascript and css  (must follow jquery) -->
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
         integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous">
      <!-- Javascript:  JQuery from a content distribution network (CDN) -->
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
         integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
         crossorigin="anonymous"></script>
      <!-- moment.js is the JavaScript equivalent of arrow.py -->
      <script
      src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
   </head>
   <!-- Our own stylesheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />
   <body>
      <div class="container">
         <h1>ACP Brevet Times</h1>
         <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers.</p>
         <!--
            If there are any warnings or other messages from a prior
            request to the server,
            they appear above the rest of the content, just until the next
            action.  (This is only on request/response transactions that
            result in regenerating the page, not on every request.)
            -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         <!-- Design on bootstrap grid -->
            <div class="row">
               <div class="col-md-4">
                  <label>Distance</label>
                  <select name="distance" id="brevet_dist_km">
                     <option value="200">200km</option>
                     <option value="300">300km</option>
                     <option value="400">400km</option>
                     <option value="600">600km</option>
                     <option value="1000">1000km</option>
                  </select>
               </div>
               <!-- columns 1 to 4  -->
               <div class="col-md-6">
                  <label>Begins at</label>
                  <input type="datetime-local" name="begin_date" id="begin_date" value="2021-01-01T00:00" />
                  <button type="button" class="btn btn-success ml-2" id="submitBtn">Submit</button> <!-- Submit button display -->
                  <button type="button" class="btn btn-info ml-2" id="displayBtn">Display</button> <!-- Display button display -->
              </div>
               <!-- columns 5 to 10 -->
            </div>
            <!-- row -->
            <br />  <!-- a little vertical space -->
            <!-- Although we do not use tables for general page layout, they are
               appropriate for something that really is a table, like this
               one.  We allocate it the full 12 columns of the bootstrap grid.
               -->
            <div class="row">
               <div class="col-md-12">
                  <table class="control_time_table">
                     <tr>
                        <th> Miles </th>
                        <th> Km </th>
                        <th>Location</th>
                        <th>Open</th>
                        <th>Close</th>
                        <th>Notes</th>
                     </tr>
                     {% for row in range(20) %}
                     <tr class="control">
                        <!-- Dist (mi) -->
                        <td><input name="miles" type="number" step="0.00001"
                           min="0" max="900" /></td>
                        <!-- Dist (km) -->
                        <td><input name="km" type="number" step="0.00001"
                           min="0" max="1100" /> </td>
                        <!-- Location (optional) -->
                        <td><input name="location" type="text"
                           placeholder="Optional location name"
                           size="20" /> </td>
                        <!-- Open time (read only, set by JavaScript function -->
                        <td><input name="open" type="datetime-local" readonly value="" /></td>
                        <!-- Close time (read only, set by JavaScript function -->
                        <td><input name="close" type="datetime-local" readonly value="" /></td>
                        <!-- Notes (error messages for this row) -->
                        <td class="notes"> &nbsp; </td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
               <!-- col -->
            </div>
            <!-- row -->
        <script type="text/javascript"> 
            const URL = {{(request.script_root + "/_calc_times")|tojson|safe }};
            
            // Helper Functionality to clear rows when needed: 
            function clearRowValues(control) {
                    control.find("input[name='km'], input[name='miles'], input[name='open'], input[name='close']").val("");
                    control.find("input[name='location']").val("");
                    control.find("td.notes").text("");}

            //Find Values:
            function calculate_time(control) {
                const brevet_dist = $("select[name='distance']").val();
                const start_time = $("input[name='begin_date']").val();
                const control_dist_km = control.find("input[name='km']").val();
                const open_time = control.find("input[name='open']");
                const close_time = control.find("input[name='close']");
                const notes = control.find("td.notes");


                // Negative Check:
                if (control_dist_km < 0) {
                    alert("Control distance is negative, please change to positive integer."); 
                    clearRowValues(control);
                    return;}
                

                 // >20% over brevat distance check:
                if (control_dist_km > brevet_dist * 1.2) {
                    alert("Control distance cannot exceed 20% of the brevet distance.");    
                    clearRowValues(control);
                    return;}
                
                 // Server Calc Req: 
                $.getJSON(URL, {brevet: brevet_dist, control: control_dist_km, start: start_time})
                    .done(function(times) {
                        open_time.val(moment(times.open).format("YYYY-MM-DDTHH:mm"));
                        close_time.val(moment(times.close).format("YYYY-MM-DDTHH:mm"));
                        notes.text("");
                    })
                    .fail(function(err) {
                        clearRowValues(contol)
                    });
            }

            $(document).ready(function() {
                // After page load: 
                $('input[name="miles"]').change(function(e) {
                    if (e.target.value.length !== 0) {
                        let miles = parseFloat($(this).val());
                        let km = (1.609344 * miles).toFixed(6);
                        let ctrl_entry = $(this).parents(".control")
                        let target = ctrl_entry.find("input[name='km']");
                        target.val(km);
                        calculate_time(ctrl_entry);}

                    else {
                        let ctrl_entry = $(this).parents(".control");
                        clearRowValues(ctrl_entry);}
                    
                });

                $('input[name="km"]').change(function(e) {
                    if (e.target.value.length !== 0) {
                        let km = parseFloat($(this).val());
                        let miles = (0.621371 * km).toFixed(6);
                        let ctrl_entry = $(this).parents(".control")
                        let target = ctrl_entry.find("input[name='miles']");
                        target.val(miles);
                        calculate_time(ctrl_entry);}

                    else {
                        let ctrl_entry = $(this).parents(".control");
                        clearRowValues(ctrl_entry);}

                });

                $('select[name="distance"], input[name="begin_date"]').change(function () {
                        $(".control_time_table .control").each(function () {
                            if ($(this).find("input[name='km']").val().length !== 0) {
                                calculate_time($(this));}
                        });
                    });

                $('#submitBtn').on("click", function() {
                    // Brevet distance and time start value: 
                    var b_dist = $("select[name='distance']").val();
                    var start_time = $("input[name='begin_date']").val();
                    var values = [];
                
                    $(".control_time_table .control").each(function() {
                        var kilometers = $(this).find("input[name='km']").val();
                        // empty val check: 
                        if (kilometers.length !== 0) {
                            var loc = $(this).find("input[name='location']").val();
                            var openning = $(this).find("input[name='open']").val();
                            var closing = $(this).find("input[name='close']").val();
                            
                            values.push({distance: kilometers, location: loc, open_time: openning, close_time: closing});
                        }
                    });

                    if (values.length === 0){
                        alert("Nothing cannot be submitted")
                        return;}

                    $.ajax({
                        type: "POST",
                        url: "http://localhost:5001/api/brevets",
                        data: JSON.stringify({length: b_dist, start_time: start_time, checkpoints: values}),
                        success: function(data) {
                            $("select[name='distance']").val("200"); 
                            $("input[name='begin_date']").val("2021-01-01T00:00"); 
                            $(".control_time_table .control input").val('');
                        },
                        contentType: "application/json", dataType: 'json'
                    })
                    .fail(function(err) {
                        // if failure: 
                        var errorMessage = "Request failed - Please try again.";
                        $("#error-message-container").text(errorMessage).show();
                    });
                    
                });

                $('#displayBtn').on("click", function() {
                    
                    // Brevets Request
                    $.getJSON("http://localhost:5001/api/brevets")
                        .done(function(brevet_list) {
                            if (brevet_list.length === 0) {
                                messageP.text("No data available");
                                return;}

                            var last_brevet = brevet_list[brevet_list.length - 1];
                            $("input[name='begin_date']").val(moment(last_brevet.start_time).format("YYYY-MM-DDTHH:mm"));
                            $("select[name='distance']").val(last_brevet["length"]);

                            var row_count = 0;
                            $(".control_time_table .control").each(function() {
                                if (row_count >= last_brevet.checkpoints.length) {
                                    return false;}

                                var current = last_brevet.checkpoints[row_count];
                                var kilometers = current.distance;
                                var openning = current.open_time;
                                var closing = current.close_time;

                                $(this).find("input[name='km']").val(kilometers)
                                $(this).find("input[name='miles']").val((0.621371 * kilometers).toFixed(6))

                                if ("location" in current) {
                                    $(this).find("input[name='location']").val(current.location);}

                                $(this).find("input[name='open']").val(moment(openning).format("YYYY-MM-DDTHH:mm"));
                                $(this).find("input[name='close']").val(moment(closing).format("YYYY-MM-DDTHH:mm"));
                                row_count++;
                            });
                        })
                        .fail(function(err) {
                            var errorMessage = "Request failed - Try again.";
                            $("#error-message-container").text(errorMessage).show();
                    });
                });
            });
        </script>
    </div>
   </body>
</html>
